// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Center items vertically in desktop view
@media screen and (min-width: 1200px) {
  .center-vertical {
    display: flex;
    align-items: center;
  }
}

.center-horizontal {
  display: flex;
  justify-content: center;
}
